

@{
    ViewBag.Title = "Contact Confirmation";
}

<h2>@ViewBag.Title</h2>
<section id="home">
    <div class="row">

        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Your message was sent!</h1>
                            <h3>An administrator will return a message as soon as possible.</h3>
                            <a href="@Url.Action("Index","Home")" class="section-btn btn btn-default smoothScroll">Return to Home</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

