<section id="home">
    <div class="row">

        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Employee Portal for Continued Training and Education</h1>
                            <h3>Please login above to access your current courses.</h3>
                            <a href="@Url.Action("Login", "Account")" class="section-btn btn btn-default smoothScroll">Click here to Login</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Having problems?</h1>
                            <h3>Contact administration concerning all broken content.</h3>
                            <a href="@Url.Action("Contact", "Home")" class="section-btn btn btn-default smoothScroll">Click here to Contact</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
