body {
}

.body-content{
   margin-top: 16em;
    
}
.custom-navbar .nav li a a.smoothScroll {

    padding-right: 10px;
    padding-left: 10px;

}

#homeContactConfirm{
        padding: 0;
    margin-top: 2%;
}


